<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
  <%= stylesheet_link_tag    'aboutme', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'aboutme', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>
 	

 	<br><br><br>
 	<div class="row-sm-4">
 		<h1>關於 ...</h1>
 		<p>郭亭巖，一個跟高手無交集的詞。</p>	<br>
 		<p>這是一個紀錄低級程式錯誤的blog，歡迎比我更低級的你觀看 : D </p>
 	</div>
 	<br><br><br>

 	<div class="row-sm-4">
 		<h1>About</h1>
 		<p>a.k.a William or Stone</p><br>
 		<p>iOS app learner (baby) </p>
 		<p>Ruby on rails learner (sperm) </p>
 	</div>
 	<br><br><br>

 	<div class="row-sm-4">
 		<h1>Skills</h1>
 		<p>iOS app development </p>
 		<p>Ruby on rails little work </p>
 	</div>
</body>
</html>
</html>