<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
  <%= stylesheet_link_tag    'homepage', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'homepage', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
 	<div class="container">
 		<h1>Life is short, do what you want.</h1><br><br><br><br><br>
  <div class="shadowNborder">

	<div class="inner">
		<img class ="img-responsive" src="/assets/homebackground.jpg" alt="">
	</div>
  </div>
</div>

</body>

</html>